<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <font size="20" color="blue" face="Verdana">Welcome to Html</font><br>
        <font size="6" color="red" face="Comic Sans MS">1. Lesson 01: Html color </font><br>
        <font size="5" color="DeepPink" face="Bayon">មេរៀនទី១​ ពណ៍</font>
    </center>
        <p><font size="5" face="Bayon" color="red">1.តើHTMLជាអ្វី?</font></p>
         <p><font size="4" face="Bayon">HTMlគឺជាភាសាសំខាន់បំផុតសម្រាប់បង្កើត និងរចនាគេហទំព័រ៕ វាគឺជាភាសាសម្រាប់
            កំណត់រចនាបទ និងខ្លឹមសាររបស់គេហទំព័រ៕
         </font> </p>
    
</body> 
</html>