<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
  </head>
  <body>
    <center>
      <h1>វិទ្យាស្ថានសុីតិក</h1> 
      <h2>SETEC Intitute</h2>
      <p>
        <b>នៅ​វិទ្យាស្ថាន​ស៊ី​តិក មាន​កម្មវិធីសិក្សា</b>
        បង្រៀន​ដល់​និស្សិត​ឲ្យ​មាន​ជំនាញ​ដែល​ក្រុមហ៊ុន​សព្វថ្ងៃ​កំពុង​ចង់បាន។<br />
        ក្រៅពី​រៀបចំ​កម្មវិធី​ដោយ​ផ្តោត​សំខាន់​លើ​ជំនាញ
        វិទ្យាស្ថាន​ក៏មាន​បន្ថែម​នូវ​មុខវិជ្ជា​មួយចំនួន​ដូចជា <br />
        ទំនាក់ទំនង​សាធារណៈ ម៉ាឃីតធីង និង​គណនេយ្យវិទ្យាស្ថាន​ក៏​ផ្តោត​ផងដែរ​លើ​មុខ
        វិជ្ជា​ភាសា​អង់គ្លេស​ទាក់ទង​នឹង​ជំនួញ។ <br>
      </p>
      <p>
        <em><b>ជារួម​កម្មវិធីសិក្សារ​បស់​វិទ្យាស្ថាន​ស៊ី​តិក</b></em>
        មិន​ត្រឹមតែ​បង្រៀន​មុខវិជ្ជា​ឯកទេស​និមួយៗប៉ុណ្ណោះ​ទេ <br>
        យើង​​នៅ​មាន​​ត្រៀម​​ឲ្យ​និស្សិត​ចាប់យក​អាជីព​របស់គេ​នៅពេល​បញ្ចប់​ការសិក្សា​ទៀតផង។<br />
        កម្មវិធីសិក្សា​របស់​វិទ្យាស្ថាន​រួមមាន មេរៀន​ជា​ទ្រឹស្តី
        ការអនុវត្ត​ផ្ទាល់ ហើយ​ក៏មាន​រៀបចំ​ឲ្យ <br />
        ​មាន​សិក្ខាសាលា និង​ការពិគ្រោះ​យោបល់ដើម្បី​ឲ្យ​និស្សិត​ជួបជុំរៀនសូត្រនិង​ប្រាស្រ័យ​ទាក់ទង <br />
        ​គ្នា​ជា​មួយ​នឹង​​អ្នក​​អាជីព​ជំនាញ​ឯកទេស ដែល​មកពី​ក្រុមហ៊ុននិង​អង្គការដែលមាន​ការទទួលស្គាល់។
      </p>
    <p style="color: green;">
        <b>"ចាប់ផ្តើមការសិក្សាជាមួយយើង អ្នកនឹងបញ្ចប់ទៅវិញជាមួយ​ឱកាសការងារ"</b>
    </p>
    </center>
  </body>
</html>
