<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!--create header tag h1..h6-->
    <h1><font color="red">Welcome to heading 1</font> </h1>
    <h2> Welcome to heading 2</h2>
    <h3> Welcome to heading 3</h3>
    <h4> Welcome to heading 4</h4>
    <h5> Welcome to heading 5</h5>
    <h6> Welcome to heading 6</h6>
    <!--create text of paragrap -->
     <p><b>Lorem ipsum dolor sit amet.</b> <br>
        <em>At accusantium fuga non mollitia sunt aut commodi</em> <br>
        <b><em>omnis in facebook IG youtube sharum similique aut </em></b><br>
        <del>voluptatem eventet est quibusdam illum.</del> <br>
        <strong>Qui omnis officits ea fugtt quos in partatur entm!</strong>
     </p>
</body>
</html>