<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/Backgroungimage.css">
</head>
<body>
    <center>   
    <h1>WELCOM TO CREDAITS IMAGE</h1> <br> 
    <P><br> <br> <br>
        Insufficient collateral is no longer a problem for business recovery loans. <br>
        For more information, please contact ACLEDA Bank's branches or <br>
        call: 023 994 444 / 015 999 233.
    </P>
 </center>
</body>
</html>