<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Download font</title>
    <style>
      @font-face {
        font-family: Heng;
        src: url(../fonts/ShareTech-Regular.ttf);
      }
      @font-face {
        font-family: Soyy;
        src: url(./fonts/Teko-VariableFont_wght.ttf);
      }
      h1 {
        font-size: 45px;
        color: #b476ed;
        font-family: Soyy;
      }
      p {
        font-family: Heng;
        font-size: 25px;
        color: #ff9b77;
      }
    </style>
  </head>
  <body>
    <center>
      <h1>What is CSS?</h1>
      <p>
        Hypertext Markup Language (HTML) is the standard markup language[a] for
        <br />
        <br>documents designed to be displayed in a web browser. It defines the
        <br />
        content and structure of web content. It is often assisted by
        technologies <br />
        such as Cascading Style Sheets (CSS) and scripting languages such as
        <br />
        JavaScript, a rogramming language.
      </p>
    </center>
  </body>
</html>
