<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Style Color</title>
</head>
<body>
    <center>
        <h1 style="color: #028417; font-size: 35px; font-family: Koulen;" >ចំណងជើងអត្ថបទទី១</h1>
        
        <p style="color: #ff0000; font-size: 30px; font-family: cursive;">
            Using Style Color in Html</p>
        
        <p style="font-size: 15px; color: #a13800; font-family: fantasy;">
        The irony of the situation hadn't escaped her. <br>
        She had taken years to sculpt the perfect <br></p>
       
        <p style="font-size: 20px; color: #3700ff; font-family: Cambria, Cochin, Georgia, Times, 
        'Times New Roman', serif;"> persona with the perfect <br>
        look that she shared on Instagram.</p>
    </center>
</body>
</html>