<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Midtrem Project</title>
   <style>
    @font-face {
      font-family: Moul;
      src: url(../fonts/Moul-Regular.khmer.ttf);
    }
    @font-face {
      font-family: Siemreap;
      src: url(../fonts/Siemreap-Regular.ttf);
    }
    h1 {
      font-family: Moul;
      font-size: 35px;
      color: rgb(4, 4, 118);
    }
    p {
      font-family: Siemreap;
      font-size: 20px;
      color: rgb(0, 65, 157);
    }
   </style>
  </head>
  <body>
    <center>
      <h1>រាជធានីភ្នំពេញ</h1>
      <p>
        <b><em>ភ្នំពេញ</em></b> គឺជារាជធានីរបស់ព្រះរាជាណាចក្រកម្ពុជា​ដែលមាន
        <br />
        ប្រជាជនរស់នៅច្រើនជាងមួយលាននាក់ និង ជាទីក្រុងធំ <br />
        លំដាប់ទី១ដែលមានប្រជាជនរស់នៅច្រើនជាងគេក្នុងប្រទេស <br />
        កម្ពុជា ។ ក្រុងភ្នំពេញជាមជ្ឈមណ្ឌលពាណិជ្ជកម្មដែលប្រមូលផ្ដុំ <br />
        ទៅដោយ សំណង់អាគារលំនៅដ្ឋាន សាលារៀនមន្ទីពេទ្យ វត្ត <br />
        អារាម ទីផ្សារដោះដូរមុខទំនិញ លើមុខជំនួញជួញដូរទាំងក្នុង <br />
        ស្រុក និង ក្រៅស្រុក ក្នុងលំហូរសាច់ប្រាក់ជាអតិបរមាដែលរួម <br />
        បញ្ចូលទាំងសេដ្ឋកិច្ចទីផ្សារ សង្គមកិច្ច និង នយោបាយដែលនាំ <br />
        ឱ្យទីក្រុងទាំងមូលក្លាយជាទីកន្លែងរស់ នៅប្រកបដោយភាពសម្បូរបែប ។
      </p>
    </center>
  </body>
</html>