<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Midtrem2</title>
    <link rel="stylesheet" href="../css/Midtrem.css" />
  </head>
  <body>
    <center>
      <h1>ខេត្តសៀមរាប</h1>
      <p>
        ខេត្តសៀមរាបត្រូវបានគេស្គាល់យ៉ាងច្បាស់តាមរយៈប្រាសាទបុរាណដ៏ល្បីល្បាញជាច្រើន <br>
        ហើយមានប្រាសាទបុរាណសំខាន់ៗមួយចំនួន ដែលអ្នកទស្សនាមិនគួរមើលរំលងពេលមក <br>
        ដល់ទឹកដីខេត្តសៀមរាប។ ប្រាសាទមួយចំនួននោះរួមមាន៖ <em><b>ប្រាសាទបន្ទាយស្រី ប្រាសាទ <br>
        ព្រះបាលិលេយ្យ ប្រាសាទតាព្រហ្ម ប្រាសាទបាយ័ន និងប្រាសាទបេងមាលា</b></em> ។ <br>
        សម្រាប់អ្នកចូលចិត្តថតរូប ប្រាសាទទាំងនេះល្អបំផុតគឺសម្រាប់លោកអ្នក។
      </p>
      <p1>
        Siem Reap is renowned for its great ancient temples, and there are <br>
        certain ones that you absolutely shouldn't miss when visiting.The <br> 
        must-see list comprises <b>Banteay Srei Temple, Preah Palilay Temple, <br>Ta
        Prohm Temple, Bayon Temple, and Beng Mealea Temple</b>.<br>
        For photography enthusiasts, these temples are for you.
      </p1>
    </center>
  </body>
</html>