<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Midtrem1</title>
  </head>
  <body>
    <center>
      <h1 style="font-size: 35px; font-family :'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: #000067;">
        What is Management information system?
    </h1>
      <p style="font-size: 20px; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; color: #000089;">
        <b>A management information system (MIS)</b> is an information system used for<br />
        decision-making , and for the coordination, control, analysis, and<br />
        visualization of information in an organization. The study of the <br />
        management information systems involves people, processes and technology<br />
        in an organizational context. In other words, it serves, as the <br />
        functions of controlling, planning, decision making in the management<br />
        level setting. In a corporate setting, the ultimate goal of using <br />
        management information system is to increase the value and profits of<br />
        the business.
      </p>
    </center>
  </body>
</html>
